<script type="text/javascript">
 RED.nodes.registerType('Active in', {
     category: 'IDM',
     color: '#2196F3',
     defaults: {
	 name: {value: ""},
	 addr: {value: "", required: true},
	 delay: {value: "0", required: true, validate: RED.validators.number()},
	 router: {value: "", required: true, type: "idm-router"},
	 wiring_service: {value: "", type: "duo-wiring-service", required: false},
	 ic: {value: "", required: true, type: "ice-communicator"},
     },
     inputs:0,
     outputs:1,
     icon: "chain.png",

     label: function() {
	 var retval = "";
	 if (this.name) {
	     retval += this.name;
	     if (this.addr)
		 retval += " [" + this.addr + "]";
	 }
	 else if (this.addr)
	     retval = this.addr.toUpperCase();
	 else
	     retval = "Active";
	 return retval;
     },
 });
</script>

<script type="text/x-red" data-template-name="Active in">
  <div class="form-row">
    <label for="node-input-addr"><i class="fa fa-fw fa-suitcase"></i> Address: </label>
    <input type="text" id="node-input-addr" placeholder="aa:bb">
  </div>

  <div class="form-row">
    <label for="node-input-router"><i class="fa fa-fw fa-map-signs"></i> IDM Router: </label>
    <input type="text" id="node-input-router">
  </div>

  <div class="form-row">
    <label for="node-input-ic"><i class="fa fa-fw fa-gears"></i> Ice Comm.: </label>
    <input type="text" id="node-input-ic">
  </div>

  <div class="form-row">
    <label for="node-input-delay"><i class="fa fa-fw fa-clock-o"></i> Delay: </label>
    <input type="text" id="node-input-delay" style="width: 285px; margin-right: 5px"> ms.
  </div>

  <div class="form-row">
    <label for="node-input-wiring_service"><i class="fa fa-fw fa-share-alt"></i> Wiring Srv.: </label>
    <input type="text" id="node-input-wiring_service">
  </div>

  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name: </label>
    <input type="text" id="node-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="Active in">
  <h3><b>Overview</b></h3>

  <p><code>Active client</code> is used to establish the observer of a <code>DUO.Active</code>
    servant. Using this client, you can attach an observer that will be
    notified about any change.</p>

  <p><b>Example</b>: you have an <code>Active</code> light and you want to
    know when someone switchs it on or off. You can connect a <i>boolean</i>
    servant to that light, and receive an invocation every time it
    changes its state.</p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Address</b>: this is the <i>IDM</i> address of the
    object that you want to change its observer. The format is two
    bytes in hexadacimal, separated by a colon (like <code>"AA:01"</code>).</li></ul>

  <ul><li><b>IDM Router</b>: the router that will be used to <b>send</b> the
    invocation to the actual <i>Active</i> object.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Ice Communicator</b>: the main broker of the communications <b>engine</b>.
    Usually, you will have just one of this.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Delay</b>: delayed time before performing the invocation. Given in
    milliseconds.</li></ul>

  <ul><li><b>Wiring Service</b>: you may want more than one observer for the same
    <i>Active</i> object. In that case, the <i>wiring</i> should be
    done differently. This service handles everything to accomplish it.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Name</b>: the name of this node.</li></ul>
</script>
