<script type="text/javascript">
 RED.nodes.registerType('IByte in', {
     category: 'IDM',
     color: '#B39DDB',
     defaults: {
	 name: {value: ""},
	 addr: {value: "", required: true},
	 router: {value: "", required: true, type: "idm-router"},
	 adapter: {value: "", required: true, type: "ice-adapter"},
     },
     inputs:0,
     outputs:1,
     icon: "0xf.png",

     label: function() {
	 var retval = "";
	 if (this.name) {
	     retval += this.name;
	     if (this.addr)
		 retval += " [" + this.addr + "]";
	 }
	 else if (this.addr)
	     retval = this.addr.toUpperCase();
	 else
	     retval = "IByte";
	 return retval;
     },
 });
</script>

<script type="text/x-red" data-template-name="IByte in">
  <div class="form-row">
    <label for="node-input-addr"><i class="fa fa-fw fa-suitcase"></i> Address: </label>
    <input type="text" id="node-input-addr" placeholder="aa:bb">
  </div>

  <div class="form-row">
    <label for="node-input-router"><i class="fa fa-fw fa-map-signs"></i> IDM Router: </label>
    <input type="text" id="node-input-router">
  </div>

  <div class="form-row">
    <label for="node-input-adapter"><i class="fa fa-fw fa-gears"></i> Ice Adapter: </label>
    <input type="text" id="node-input-adapter">
  </div>

  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name: </label>
    <input type="text" id="node-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="IByte in">
  <h3><b>Overview</b></h3>

  <p>This node creates a servant of <code>DUO.IByte.W</code>, and
    registers it on <i>IDM</i>. Other clients of the <i>IDM</i> network
    can change its state, just using its <i>IDM</i> address.</p>

  <p>The <code>DUO.IByte.W</code> interface is as follows:
    <pre>
module IByte {
  interface W {
    void set(byte v, IDM::Address source);
  };
};</pre></p>

  <p>When the method 'set' is called, it will inject a new <code>msg</code> with
    the value as <code>msg.payload</code>.</p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Address</b>: this is the <i>IDM</i> address of the
    servant. The format is two bytes in hexadacimal, separated by a colon
    (like <code>"AA:01"</code>).</li></ul>

  <ul><li><b>IDM Router</b>: the router that will be used to <i>receive</i> the
    invocations.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Ice Adapter</b>: this is the <i>Object Adapter</i> where
    this servant will be attached. It works as a dispatcher to allow
    <i>many servants</i> to share the same connection endpoints.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Name</b>: the name of this node.</li></ul>

</script>
