<!-- -*- coding: utf-8 -*- -->

<script type="text/javascript">
 RED.nodes.registerType('Active out', {
     category: 'IDM',
     color: '#2196F3',
     defaults: {
	 name: {value: ""},
	 addr: {value: "", required: true},
	 observer: {value: ""},
	 observer_type: {value: "", required: true},
	 router: {value: "", required: true, type: "idm-router"},
	 adapter: {value: "", required: true, type: "ice-adapter"},
	 ic: {value: "", required: true, type: "ice-communicator"},
     },
     inputs:1,
     outputs:0,
     icon: "chain.png",
     align: 'right',

     label: function() {
	 var addr = this.addr.toUpperCase();
	 var retval = "";
	 if (this.name) {
	     retval += this.name;
	     if (addr)
		 retval += " [" + addr + "]";
	 }
	 else {
	     retval = addr || "Active";
	 }

	 return retval;
     },

     oneditprepare: function() {
	 var select = $("#select-observer-type");
	 select.change(function() {
	     select.val() ? select.removeClass("input-error") : select.addClass("input-error");
	 });

	 select.val(this.observer_type);
	 select.change();
     },

     oneditsave: function() {
	 var val = $("#select-observer-type").val();
	 this.observer_type = val || "";
     },
 });
</script>

<script type="text/x-red" data-template-name="Active out">
  <div class="form-row">
    <label for="node-input-addr"><i class="fa fa-fw fa-suitcase"></i> Address: </label>
    <input type="text" id="node-input-addr" placeholder="aa:bb">
  </div>

  <div class="form-row">
    <label for="node-input-observer"><i class="fa fa-fw fa-eye"></i> Observer: </label>
    <input type="text" id="node-input-observer" placeholder="ee:ff">
  </div>

  <div class="form-row">
    <label for="select-observer-type"><i class="fa fa-fw fa-flask"></i> Type: </label>
    <select id="select-observer-type">
      <option value="ibool">DUO::IDM::IBool</option>
      <option value="iint">DUO::IDM::IInt</option>
      <option value="istring">DUO::IDM::IString</option>
    </select>
    <input type="hidden" id="node-input-observer-type">
  </div>

  <hr>

  <div class="form-row">
    <label for="node-input-router"><i class="fa fa-fw fa-map-signs"></i> IDM Router: </label>
    <input type="text" id="node-input-router">
  </div>

  <div class="form-row">
    <label for="node-input-adapter"><i class="fa fa-fw fa-gears"></i> Ice Adapter: </label>
    <input type="text" id="node-input-adapter">
  </div>

  <div class="form-row">
    <label for="node-input-ic"><i class="fa fa-fw fa-gears"></i> Ice Comm.: </label>
    <input type="text" id="node-input-ic">
  </div>

  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name: </label>
    <input type="text" id="node-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="Active out">
  <h3><b>Overview</b></h3>

  <p>The <code>Active servant</code> provides the implementation of the <i>Active</i>
    interface. It allows you to create a servant that can have an <i>IDM</i>
    observer. When some message arrives to the input, the observer
    will be invoked (but only if the payload could be coerced to the
    selected type). </p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Address</b>: this is the <i>IDM</i> address of the
    servant. This address is how other objects in the network will
    reach this servant. The format is two bytes in hexadacimal,
    separated by a colon (like <code>"AA:01"</code>).</li></ul>

  <ul><li><b>Observer</b>: the initial address of the observer. It's an <i>IDM</i> address. You
    could left it empty. It would be overwritten if some other client
    sets it.</li></ul>

  <ul><li><b>Type</b>: the data type of this servant. You can select
    from the available options. Note that the observer <b>must implement</b>
    the same interface.</li></ul>

  <ul><li><b>IDM Router</b>: the router that will be used to <i>send</i> or <i>receive</i> the
    invocations.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Ice Adapter</b>: this is the <i>Object Adapter</i> where
    this servant will be attached. It works as a dispatcher to allow
    <b>many servants</b> to share the same connection endpoints.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Ice Communicator</b>: the main broker of the communications <b>engine</b>.
    Usually, you will have just one of this.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Name</b>: the name of this node.</li></ul>
</script>
