<script type="text/javascript">
 RED.nodes.registerType('IBool out', {
     category: 'IDM',
     color: '#a6bb00',
     defaults: {
	 name: {value: ""},
	 addr: {value: "", required: true},
	 router: {value: "", required: true, type: "idm-router"},
	 ic: {value: "", required: true, type: "ice-communicator"},
     },
     inputs:1,
     outputs:0,
     icon: "light.png",
     align: 'right',

     label: function() {
	 var retval = "";
	 if (this.name) {
	     retval += this.name;
	     if (this.addr)
		 retval += " [" + this.addr + "]";
	 }
	 else if (this.addr)
	     retval = this.addr.toUpperCase();
	 else
	     retval = "IBool";
	 return retval;
     },
 });
</script>

<script type="text/x-red" data-template-name="IBool out">
 <div class="form-row">
   <label for="node-input-addr"><i class="fa fa-fw fa-suitcase"></i> Address: </label>
   <input type="text" id="node-input-addr" placeholder="aa:bb">
 </div>

 <div class="form-row">
   <label for="node-input-router"><i class="fa fa-fw fa-map-signs"></i> IDM Router: </label>
   <input type="text" id="node-input-router">
 </div>

 <div class="form-row">
   <label for="node-input-ic"><i class="fa fa-fw fa-gears"></i> Ice Comm.: </label>
   <input type="text" id="node-input-ic">
 </div>

 <div class="form-row">
   <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name: </label>
   <input type="text" id="node-input-name">
 </div>
</script>

<script type="text/x-red" data-help-name="IBool out">
  <h3><b>Overview</b></h3>

  <p>This node provides a client for <code>DUO.IBool.W</code> objects,
    using the <i>IDM</i> network.</p>

  <p>The <code>DUO.IBool.W</code> interface is as follows:
    <pre>
module IBool {
  interface W {
    void set(bool v, IDM::Address source);
  };
};</pre></p>

  <p>When a message with payload <code>true</code> or <code>false</code> arrives
    on input, it will call the method 'set' on the given destination.
    If the payload is different, it will be coerced to <code>false</code>.</p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Address</b>: this is the <i>IDM</i> address of the
    destination. The object with this address will be called upon
    correct message arrival. The format is two bytes in hexadacimal,
    separated by a colon (like <code>"AA:01"</code>).</li></ul>

  <ul><li><b>IDM Router</b>: the router that will be used to <i>send</i> the
    invocations.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Ice Communicator</b>: the main broker of the communications <b>engine</b>.
    Usually, you will have just one of this.
    It's a configuration node, see its 'info' tab for more details.</li></ul>

  <ul><li><b>Name</b>: the name of this node.</li></ul>

</script>
