<script type="text/javascript">
 RED.nodes.registerType('duo-wiring-service', {
     category: 'config',
     defaults: {
	 name: {value: "wiring service"},
	 host: {value: "", required: true},
	 port: {value: "6160", required: true},
     },
     label: function() {
	 return this.name || "DUO Wiring Service";
     },
 });
</script>

<script type="text/x-red" data-template-name="duo-wiring-service">
  <div class="form-row">
    <label for="node-config-input-host"><i class="fa fa-fw fa-server"></i> Host:</label>
    <input type="text" id="node-config-input-host">
  </div>
  <div class="form-row">
    <label for="node-config-input-port"><i class="fa fa-fw fa-plug"></i> Port:</label>
    <input type="text" id="node-config-input-port" placeholder="6160">
  </div>
  <div class="form-row">
    <label for="node-config-input-name"><i class="fa fa-fw fa-tag"></i> Name:</label>
    <input type="text" id="node-config-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="duo-wiring-service">
  <h3><b>Overview</b></h3>

  <p>This configuration node is used to access an already deployed
    Wiring Service (WS). This service is used to subscribe more than one
    observer to a single <i>Active</i> publisher (using IceStorm).</p>

  <h3><b>Properties</b></h3>
  <ul><li><b>Host</b>: the host were Wiring Service is running. It could be a name (FQDN) or
    an IP address (both IPv4 and IPv6).</li></ul>

  <ul><li><b>Port</b>: the TCP port (as a number) where Wiring Service is listening.</li></ul>

  <ul><li><b>Name</b>: this node's name.</li></ul>
</script>
