<script type="text/javascript">
 RED.nodes.registerType('ice-adapter', {
     category: 'config',
     defaults: {
	 name: {value: "adapter"},
	 host: {value: "0.0.0.0", required: true},
	 port: {value: "12345", required: true},
	 ic: {value: "default", required: true},
	 properties: {value: []},
     },

     label: function() {
	 return this.name || "Ice Adapter";
     },

     oneditprepare: function() {
	 var node = this;

	 function addPropertyField(value) {
	     var container = $('<li/>', {style: "background: #fff; margin: 0; border-bottom: 1px solid #eee"});
	     var row = $('<div/>').appendTo(container);
	     var finalspan = $('<span/>', {style: "float: right; margin-right: 5px;"}).appendTo(row);

	     var valueField = $('<input/>', {class: "node-input-property-value", type:"text", style:"margin-left: 5px; width: 89%; height: 20px; font-size: 1em !important; padding: 3px; border: 0px", value: value}).appendTo(row);
	     var deleteButton = $('<a/>', {href: "#", class:"editor-button editor-button-small", style: "margin-left: 5px;"}).appendTo(finalspan);
	     $('<i/>', {class: "fa fa-remove"}).appendTo(deleteButton);

	     $("#node-input-properties-container").append(container);

	     deleteButton.click(function() {
		 container.remove();
	     });

	     if (value === undefined)
		 valueField.focus();
	 }

	 $('#node-input-add-property').click(function() {
	     addPropertyField();
	 });

	 for (var i in node.properties) {
             var property = node.properties[i];
             addPropertyField(property);
         }
     },

     oneditsave: function() {
	 var node = this;
	 var props = $('.node-input-property-value');
	 node.properties = [];

	 props.each(function(i) {
	     var value = $(this).val().trim();
	     if (value)
		 node.properties.push(value);
	 });
     },
 });
</script>

<script type="text/x-red" data-template-name="ice-adapter">
  <div class="form-row">
    <label for="node-config-input-host"><i class="fa fa-fw fa-server"></i> Host:</label>
    <input type="text" id="node-config-input-host">
  </div>

  <div class="form-row">
    <label for="node-config-input-port"><i class="fa fa-fw fa-plug"></i> Port:</label>
    <input type="text" id="node-config-input-port">
  </div>

  <div class="form-tips">
    <b>Note</b>: you can use <code>${name}</code>, <code>${host}</code> and <code>${port}</code> on
    a property definition.
  </div><br>

  <div class="form-row node-input-properties-container-row" style="margin-bottom: 0px;">
    <div id="node-input-properties-container-div"
	 style="box-sizing: border-box; border-radius: 5px; height: 150px;
		padding: 5px; border: 1px solid #ccc; overflow-y:scroll;">
      <ol id="node-input-properties-container" style=" list-style-type:none; margin: 0;"></ol>
    </div>
  </div>

  <div class="form-row">
    <a href="#" class="editor-button editor-button-small" id="node-input-add-property" style="margin-top: 4px;">
      <i class="fa fa-fw fa-plus"></i>Add property</a>
  </div>

  <div class="form-tips">
    <b>Note</b>: nested configs are not supported on Node-RED.<br>Please, set here the <b>name</b> of your communicator.<br><br>

    <div class="form-row">
      <label for="node-config-input-ic"><i class="fa fa-fw fa-gears"></i> Ice Comm.:</label>
      <input type="text" id="node-config-input-ic">
    </div>
  </div><br>

  <div class="form-row">
    <label for="node-config-input-name"><i class="fa fa-fw fa-tag"></i> Name:</label>
    <input type="text" id="node-config-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="ice-adapter">
 <h3><b>Overview</b></h3>

 <h3><b>Properties</b></h3>
 <ul><li><b>Host</b>: the address where this Object Adapter will
   listen. This usually would be the IP address of one of the network
   interfaces where Node-RED is deployed. If you want to listen in all
   interfaces, set it to <code>0.0.0.0</code>, which is the default value.
 </li></ul>

 <ul><li><b>Port</b>: this is the TCP port where the Adapter will listen. Set it to a
   free port, and take into account that ports below 1024 usually are restricted.</li></ul>

 <ul><li><b>Adapter Properties</b>: here you can define a collection of properties that
   are specific to Ice Object Adapters. The most common property you would set is
   the <code>Adapter.PublishedEndpoints</code>. For a full reference of available properties,
   see <a href="https://doc.zeroc.com/display/Ice36/Property+Reference">ZeroC Ice Property
   Reference</a>.</li></ul>

 <ul><li><b>Ice Communicator</b>: the name of the main broker you will use. <b>Note</b>:
   this communicator should be already created somewhere else (usually,
   in the node that uses this configuration), and here you just name it.</li></ul>

 <ul><li><b>Name</b>: this node's name.</li></ul>
</script>
