<script type="text/javascript">
 RED.nodes.registerType('toggle in', {
     category: 'input',
     color: '#a6bb00',
     defaults: {
	 name: {value: ""},
	 topic: {value: ""},
     },
     inputs:0,
     outputs:1,
     icon: "button.png",

     button: {
	 toggle: "state",
	 onclick: function() {
             $.ajax({
		 url: "bool-input/" + this.id,
		 type: "POST",
		 data: {state: this.state},
	     });
	 },
     },

     paletteLabel: "toggle",
     label: function() {
	 var label = this.state ? "true" : "false";
	 if (this.topic)
	     label = this.topic + ": " + label;
	 if (this.name)
	     label = this.name + " [" + label + "]";
	 return label;
     },
 });
</script>

<script type="text/x-red" data-template-name="toggle in">
 <div class="form-row">
   <label for="node-input-topic"><i class="fa fa-fw fa-tasks"></i> Topic:</label>
   <input type="text" id="node-input-topic">
 </div>
 <div class="form-row">
   <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name:</label>
   <input type="text" id="node-input-name">
 </div>
</script>

<script type="text/x-red" data-help-name="toggle in">
  <h3><b>Overview</b></h3>

  <p>A simple toggle button to provide input from the Node-RED
    editor. It does not send a predefinded value, but changes its state
    on each click.</p>

  <p>It send messages with <code>payload</code> set to <code>true</code> or <code>false</code>,
    depending on the widget state.</p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Topic</b>: the Node-RED 'topic' atribute for the message.</li></ul>

  <ul><li><b>Name</b>: this node's name.</li></ul>

</script>
