<script type="text/javascript">
 RED.nodes.registerType('toggle out', {
     category: 'output',
     color: '#a6bb00',
     defaults: {
	 name: {value: ""},
     },
     inputs:1,
     outputs:0,
     icon: "button.png",
     align: 'right',
     paletteLabel: "toggle",

     label: function() {
	 if (this.name)
	     return this.name;
	 return "toggle";
     },
 });
</script>

<script type="text/x-red" data-template-name="toggle out">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-fw fa-tag"></i> Name:</label>
    <input type="text" id="node-input-name">
  </div>
</script>

<script type="text/x-red" data-help-name="toggle out">
  <h3><b>Overview</b></h3>

  <p>A simple widget to show the boolean state of the payload in the last message.
    If <code>payload</code> is <code>true</code>, it will show as active; inactive otherwise.
  </p>

  <h3><b>Properties</b></h3>

  <ul><li><b>Name</b>: this node's name.</li></ul>
</script>
